
.login-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	padding: 50px;
	border-style: solid ;
	margin: 10px 10px 10px 10px;
	
	
  
	h2 {
	  margin-bottom: 30px;
	}
	.icon{
		border-radius: 5px;
		padding: 5px;
		background-color: rgba(128, 128, 128, 0.631);
		font-size: 18px;
	}
  
	form {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  
	  
  
	  .form-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		
  
		label {
		  margin-bottom: 5px;
		  font-weight: bold;
		}
  
		input[type="text"],
		input[type="password"] {
		  padding: 10px;
		  border-radius: 5px;
		  border: 1px solid #ccc;
		  font-size: 16px;
		}
	  }
  
	  button[type="submit"] {
		padding: 10px;
		border-radius: 5px;
		background-color:rgba(128, 0, 128, 0.504);
		color: #fff;
		font-size: 16px;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;
  
		&:hover {
		  background-color: #3e8e41;
		}
	  }
	}
  }
  