.userChart{
    flex: 4;
    box-shadow: -11px -18px 24px -7px rgba(0,0,0,1);
    -webkit-box-shadow: -11px -18px 24px -7px rgba(0,0,0,1);
    -moz-box-shadow: -11px -18px 24px -7px rgba(0,0,0,1);
    padding: 10px;
    color: gray;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: gray;

        .title{
            font-weight: 500;
        }

        
    }
}